@inject IHistoryService HistoryService
@inject IOptions<HistorySettings> HistoryOptions
@using Microsoft.Extensions.Options
@using Schnittstellenzentrale.Infrastructure.Services

<div class="sz-history-layout">
    <HistoryContentView />
</div>
