@inject IApplicationRepository ApplicationRepository
@inject IStorageModeService StorageModeService
@inject ICurrentUserService CurrentUserService
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="application-group-tree">
    <div class="d-flex gap-2 mb-2">
        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="ShowGroupEditor">Neue Gruppe</button>
        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="ShowApplicationEditor">Neue Anwendung</button>
    </div>

    @if (_showGroupEditor)
    {
        <ApplicationGroupEditor OnSaved="OnGroupSaved" OnCancel="OnEditorCancelled" />
    }

    @if (_showApplicationEditor)
    {
        <ApplicationEditor OnSaved="OnApplicationSaved" OnCancel="OnEditorCancelled" />
    }

    @if (_groups != null)
    {
        @foreach (var group in _groups)
        {
            <CollapsibleSection Title="@group.Name">
                @foreach (var app in group.Applications)
                {
                    <div class="tree-leaf">
                        <button class="btn btn-link" @onclick="() => SelectApplication(app.Id)">
                            @app.Name
                        </button>
                    </div>
                }
            </CollapsibleSection>
        }
    }
    @if (_ungroupedApplications != null && _ungroupedApplications.Any())
    {
        <CollapsibleSection Title="Ohne Gruppe">
            @foreach (var app in _ungroupedApplications)
            {
                <div class="tree-leaf">
                    <button class="btn btn-link" @onclick="() => SelectApplication(app.Id)">
                        @app.Name
                    </button>
                </div>
            }
        </CollapsibleSection>
    }
</div>

@code {
    [Parameter] public EventCallback<int> OnApplicationSelected { get; set; }

    private IList<ApplicationGroup>? _groups;
    private IList<Application>? _ungroupedApplications;
    private string _owner = string.Empty;
    private bool _showGroupEditor;
    private bool _showApplicationEditor;

    protected override async Task OnInitializedAsync()
    {
        StorageModeService.OnModeChanged += OnModeChanged;
        _owner = CurrentUserService.GetCurrentUserName();
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        _groups = await ApplicationRepository.GetGroupsAsync(StorageModeService.CurrentMode, _owner);
        _ungroupedApplications = await ApplicationRepository.GetUngroupedApplicationsAsync(StorageModeService.CurrentMode, _owner);
    }

    private async Task SelectApplication(int applicationId)
    {
        await OnApplicationSelected.InvokeAsync(applicationId);
    }

    private void OnModeChanged()
    {
        _ = InvokeAsync(async () =>
        {
            try
            {
                await LoadDataAsync();
                StateHasChanged();
            }
            catch
            {
                StateHasChanged();
            }
        });
    }

    public void Dispose()
    {
        StorageModeService.OnModeChanged -= OnModeChanged;
    }

    private void ShowGroupEditor()
    {
        _showGroupEditor = true;
        _showApplicationEditor = false;
    }

    private void ShowApplicationEditor()
    {
        _showApplicationEditor = true;
        _showGroupEditor = false;
    }

    private async Task OnGroupSaved()
    {
        _showGroupEditor = false;
        await LoadDataAsync();
        StateHasChanged();
    }

    private async Task OnApplicationSaved()
    {
        _showApplicationEditor = false;
        await LoadDataAsync();
        StateHasChanged();
    }

    private void OnEditorCancelled()
    {
        _showGroupEditor = false;
        _showApplicationEditor = false;
    }
}
